
<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container">
  <mat-drawer #drawer
              class="drawer"
              mode="side"
              opened="false">

    <mat-toolbar class="header">
      <div>COM</div>
      <mat-icon class="close"
                (click)="drawer.close()">close</mat-icon>
    </mat-toolbar>
    <div class="contents">
      <div class="mat-drawer-side">
        <a routerLink="/home" class="nav-link">Home</a>
        <mat-divider></mat-divider>
      </div>

      <div class="mat-drawer-side">
        <a routerLink="/home/notification" class="nav-link">Notifications</a>
        <mat-divider></mat-divider>
      </div>

      <div class="mat-drawer-side">
        <a routerLink="/home/people" class="nav-link">People</a>
        <mat-divider></mat-divider>
      </div>


      <div class="mat-drawer-side" *ngIf="isAdmin">
        <a routerLink="/home/assignment-manage" class="nav-link">Assignment Management</a>
        <mat-divider></mat-divider>
      </div>

      <!--<div class="mat-drawer-side" *ngIf="isAdmin">-->
      <!--<a  class="make-blue" (click)="onUpload()">Upload File</a>-->
      <!--<mat-divider></mat-divider>-->
      <!--</div>-->

    </div>
  </mat-drawer>

  <mat-toolbar class="main header">
    <mat-icon
      *ngIf="!drawer.opened"
      (click)="drawer.toggle()">
      menu
    </mat-icon>
    <app-header></app-header>
  </mat-toolbar>

  <div class="main contents">
    <!--==========================-->

<form class="edit-profile-form" (ngSubmit)="submit(editForm.value)" #editForm="ngForm">
  <div>
  <mat-form-field>
    <input matInput type="text"  value = "{{name}}"  name = "name" id = "name" placeholder="Name" ngModel="{{name}}" >
  </mat-form-field>
  </div>
  <div>
  <mat-form-field>
    <input matInput type="password" id = "password" value="" name = "password"  placeholder="Password" ngModel="{{password}}">
  </mat-form-field>
  </div>
<div>
  <mat-form-field>
    <input matInput type="email" type="email" name = "email"  id = "email" placeholder="Email" value="{{email}}" ngModel="{{email}}">
  </mat-form-field>
</div>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
    <!--=========================-->
    <div style="height: 450px">&nbsp;</div>
  </div>

</mat-drawer-container>
