<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container">
  <mat-drawer #drawer
              class="drawer"
              mode="side"
              opened="false">

    <mat-toolbar class="header">
      <div>COM</div>
      <mat-icon class="close"
                (click)="drawer.close()">close</mat-icon>
    </mat-toolbar>
    <div class="contents">

      <div class="mat-drawer-side">
        <a routerLink="/home/notification" class="nav-link">Notifications</a>
      </div>
<hr>
      <div class="mat-drawer-side">
        <a routerLink="/home/people" class="nav-link">People</a>
      </div>
      <hr>

      <div class="mat-drawer-side" *ngIf="isAdmin">
        <a routerLink="/home/assignment-manage" class="nav-link">Assignment Management</a>
      </div>
      <hr>
      <div class="mat-drawer-side" *ngIf="isAdmin">
        <a  class="make-blue" (click)="onUpload()">Upload File</a>

      </div>

    </div>
  </mat-drawer>

  <mat-toolbar class="main header">
    <mat-icon
      *ngIf="!drawer.opened"
      (click)="drawer.toggle()">
      menu
    </mat-icon>
    <app-header></app-header>
  </mat-toolbar>

</mat-drawer-container>
