<main class="container">
  <mat-card fxFlex.gt-sm="60%" fxFlexOffset.gt-sm="20%">
    <mat-card-title>Reset Password</mat-card-title>
    <form (ngSubmit)="loginForm.valid && onSubmit(loginForm.value)" fxLayout="column" #loginForm="ngForm" >
      <mat-form-field>
        <mat-placeholder>Username</mat-placeholder>
        <input type="text" matInput id="username" name="username" ngModel #name="ngModel" required>
        <mat-error *ngIf="(loginForm.submitted || name.touched) && name.invalid">
          Username can't be empty!
        </mat-error>
      </mat-form-field>

      <div>
        <button type="submit" mat-raised-button color="primary">Submit</button>

      </div>
    </form>
  </mat-card>
</main>
